* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
  height: 100vh;
  width: 100vw;
  background-color: #024964b4;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  color: #00b7ff;
}

.login-box {
  /* background-color: #000; */
  height: 400px;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.login-items {
  background-color: #fff;
  text-align: center;
  /* width: ; */
  height: 50px;
  border: 3px solid #00b7ff;
  border-radius: 15px;
  margin: 3px 0;
}
.login-button {
  background-color: #ffc40079;
  transition-duration: 0.4s;
  /* animation-duration: ; */
}
.login-button:hover {
  background-color: #ff9900d3;
}
.singup-button {
  color: #10155e;
  /* text-decoration: none; */
  /* background-color: #4eae00; */
  text-align: center;
  line-height: 3;
  /* width: 40vw; */
  height: 50px;
  /* border: 3px solid #00b7ff; */
  /* border-radius: 15px; */
  margin: 3px;
  margin-left: auto;
}
